# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.build/
dist/
.eggs/

# Jupyter
.ipynb_checkpoints/

# Virtual envs
.venv/
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Editors/IDE
.vscode/
.idea/

# Project secrets/state
.env
last_day.json

# Optional: Excel if private; remove if you want to commit it
# Beginner_Weekly_Workout_Plan.xlsx
